{% assign page_category = (include.content | remove: ".html") %}
<div class="profile_list">
    {% for category_pair in site.data.people %}
        {% assign category_key = (category_pair[0] | downcase ) %}
        {% assign category_value = category_pair[1] %}
        {% if page_category != "index" and category_key != page_category%}
            {% continue %}
        {% endif %}

        <div class="row"> 
            {% for person_key_pair in category_value %}
                {% assign person = person_key_pair[1] %}
                <div class="col-12 col-md-6 col-lg-4 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                {% if person.blog %}
                                <a target="_blank" href="{{ person.blog }}">{{ person.name }}</a>
                                {% else %}
                                {{ person.name }}        
                                {% endif %}  
                            </h3>
                            {% if person.bio %}
                            <p class="card-text">{{ person.bio | truncate: 140, '...'}}</p>
                            {% endif %}
                        </div>
                        <div class="list-group list-group-flush">
                            <div class="list-group-item"><strong>Major/Year</strong>: {{person.major}} {% if person.graduation %}({{person.graduation}}){% endif %}</div>
                            {% if person.company %}
                            <div class="list-group-item"><strong>Company</strong>: {{person.company}} </div>
                            {% endif %}
                            <div class="list-group-item"><strong>Username</strong>: <code>{{person.handle}}</code></div>
                            {% if person.forges %}
                            <div class="list-group-item">
                                <strong>Code Forges:</strong>
                                <ul class="social-media-list mb-0">
                                    {% for forges_pair in person.forges %}
                                        {% assign forge_key = forges_pair[0] | downcase %}
                                        {% assign forge_value = forges_pair[1] %}
                                        <li><a target="_blank" href="{{forge_value}}">{{ forge_key | capitalize | replace: "Github", "GitHub" | replace: "Gitlab", "GitLab" }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>